---
import Layout from './Base.astro';
import Container from "../components/Container.astro";
import ArticleSchema from '../components/ArticleSchema.astro';
import UnderlinedTitle from '../components/UnderlinedTitle.astro';

const { frontmatter } = Astro.props;
---

<Layout seo={frontmatter}>
  <Fragment slot="head-bottom">
  <ArticleSchema {...frontmatter}  />
 </Fragment>
  <Container>
    <a href="/blog" class="bg-mustard-500 hover:bg-mustard-400 p-2 text-grey-300 rounded-xs drop-shadow-sm">&leftarrow; back</a>
    <article class="post-content__article">
      {frontmatter.image && <img width="720" height="420" class="post-main__img" loading="lazy" src={frontmatter.image} alt={frontmatter.alt} />}
      <UnderlinedTitle>{frontmatter.title}</UnderlinedTitle>
      <p class="py-6"><time>{frontmatter.publishDate}</time></p>
      <div class="post-content">
        <slot />
      </div>
    </article>
  </Container>
</Layout>

<style>
  @import 'tailwindcss';
  .post-content {
    h2 {
      @apply text-3xl py-2 font-extrabold;
    }
  }
</style>